<form action="/auth/signup" method="post" >
  <label for="username">Username</label>
  <input type="text" id="username" name="username" />
  <label for="password">Password</label>
  <input type="password" id="password" name="password" value="123456789"/>
  
    <label for="image">Profile Picture</label>
    <input type="file" name="picture" />

    
    <label> Email Id: </label>
      <input type="text" name="emailid" placeholder="EmailId" />

    <label> Age: </label>
      <input type="number" name="age" placeholder="Age" />
    

    <label> Location: </label>
      <input type="text" name="location" placeholder="City" />
    

    <input type="submit" value="Submit" />
</form>

{{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
{{/if}}