<div class="signUpForm">
  <h2>Create account</h2>
  <form action="/auth/signup" method="post" enctype="multipart/form-data">
    {{! Bootstrap class }}
    <div class="form-floating mb-3 signUpForm">

      <label class="username formBoxes" for="username"></label>
      <input type="text" id="username" name="username" placeholder="Username" />
      <label for="password"></label>
      <input
        type="password"
        class="formBoxes"
        id="password"
        name="password"
        placeholder="Password"
      />

    <label for="image"></label>
    <input type="file" name="picture" />

    <label></label>
    <input class="formBoxes" type="text" name="emailid" placeholder="Email" />

    <label></label>
    <input class="formBoxes" type="number" name="age" placeholder="Age" />

    <label></label>
    <input class="formBoxes" type="text" name="location" placeholder="Location" />

    <input type="submit" value="Create account" />
  </form>
    </div>

  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</div>