@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/* Made some changes in the body (police) to try out -Laurie */
body {
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: "Oswald", sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.navBar {
  box-sizing: border-box;
  text-decoration: none;
}

/* SIGNUP PAGE - Laurie */

.flex {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
}

.centered {
  margin: auto;
}
