body {
  padding: 50px;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.profilePicture {
  height: 250px;
  width: 350px;
}

.profile {
  position: absolute;
  right: 470px;
  top: 113px;
  font-size: 40px;
}

/* Login Page */
.login {
  background-color: #f2b988;
  height: 520px;
  width: 1244px;
}

.loginForm {
  position: absolute;
  top: 374px;
  right: 530px;
  height: 164px;
  width: 300px;
  background-color: #ede8e3;
  font: 30px;
}

.form-style-1 {
  text-align: center;
  margin: -7px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
}

.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
  color: #bf344d;
}

.form-style-1 label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}

.loginSubmit {
  background-color: #bf344d;
  color: #ede8e3;
}

.loginImage {
  position: absolute;
  right: 531px;
  top: 125px;
  height: 250px;
  width: 300px;
}
