@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/* Made some changes in the body (police) to try out -Laurie */
body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: "Oswald", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* home page */
/* nav bar */
.nav-horizontal {
  background-color: #d14962;
  overflow: hidden;
  height: 3em;
  width: 100%;
}

.mask {
  height: 5em;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.listNavBar {
  display: inline-table;
  margin: 0 auto;
  max-width: 100%;
}

li {
  display: table-cell;
}

a {
  display: block;
  padding: 0 1em;
  text-decoration: none;
  color: #f9f9f9;
  height: 2em;
  /* line-height: 3; */
}
a:hover {
  /* border-bottom: 2px solid black; */
  background-color: #f9f9f9;
  color: #bf344d;
  font-size: bold;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.container li {
  display: flex;
  flex-direction: column;
}

.productImage {
  height: 300px;
  width: 300px;
  border: 2px solid grey;
}

.homePagePhoto {
  background-image: url("../images/Soft\ Brown\ Gradient\ Pastel\ Minimalist\ Fun\ Beauty\ Banner.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 500px;
}

.homePageForm {
  margin: 20px;
}

.container h3 {
  color: #d14962;
}

.productButton {
  width: 150px;
}

.productHomePage {
  display: flex;
  text-align: center;
}
/* .picHomePage {
  width: 600px;
  height: 500px;
  display: block;
  margin: 0 auto;
} */

/* .profilePicture {
  height: 250px;
  width: 350px;
}

.profile {
  position: absolute;
  right: 470px;
  top: 113px;
  font-size: 40px;
} */

/* Login Page */
.login {
  background-image: url("../images/homepage2.webp");
  background-color: #f2b988;
}

.loginForm {
  background-color: aliceblue;
  height: 500px;
  width: 500px;
  display: flex;
  text-align: center;
}

.form-style-1 {
  text-align: center;
  margin: -7px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
}

.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
  color: #bf344d;
}

.form-style-1 label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}

.loginSubmit {
  background-color: #bf344d;
  color: #ede8e3;
  width: 173px;
  height: 32px;
  border: 10px;
  border-radius: 10px;
}

/* SIGNUP PAGE - Laurie */

.flex {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
}

.centered {
  margin: auto;
}
